
.main-container {
  margin: auto;
  padding: 10px;
  width: 60%;
  height: auto;
}
.nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.smooth-gradient-text {
  background: linear-gradient(to bottom right,rgba(253,29,29), rgba(252,176,69));
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.about-title {
margin-top: auto;
margin-bottom: 15px;
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
}
.people-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;

}
.avatar-round {
  display: flex;
  vertical-align: middle;
  width:250px;
  height: auto;
  border-radius: 50%;
}
.people-img {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  border-radius: 0%;
  width: 200px;
  height: auto;
}
.name{
  display: flex;
margin: auto;
  width: auto;
  height: 75px;
  /* background-color: blue; */
}
.nav-name{
  margin-right: 15px;
}
.statement-container {
  margin-top:  20px;
  padding-left: 20px;
  padding-bottom:20px;
  padding-top: 150px;
  width: auto;
  height: auto;
  font-size: 45px;
  color: #ffffff;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 25px;
  font-style: normal;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,.5) 100%);
}
.about {
  margin-top: 10px;
  padding: 50px;
  font-size: 20px;
  color: #ffffff;
  background-color:rgb(109, 109, 109);
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 25px;
  font-style: normal;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
.nav-tab:hover {
  color: #ffffff;
}
li {
  display: inline;
}
.contact-container {
  margin-top:  20px;
  padding-left: 20px;
  padding-bottom:20px;
  padding-top: 20px;
  width: auto;
  height: auto;
  font-size: 20px;
  color: #ffffff;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 25px;
  font-style: normal;
  background-color: rgba(131,58,180,1);
}
.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("magicpattern-grid-pattern-1728061032746.jpeg");
}
/* PROJECTS PAGE STYLES */
.projects-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-evenly;
  margin: auto;
  /* padding-right: 500px;
  padding-left: 500px;
  padding-top: 10px;
  padding-bottom: 17px; */
  width: 70%;
  height: auto;
}
.projects-title {
  display: flex;
  justify-content: center;
  padding: 20px ;
}
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  font-family: "Libre Franklin", sans-serif;
  align-items: flex-start;
  justify-content: center;
}
/* CONTACT PAGE STYLES */
.contact-main-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 105px;
  padding-left: 400px;
  padding-right: 400px;
  width: 100%;
  height: 100%;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  font-size: 20px;
  color: #ffffff;
  background-color:rgb(109, 109, 109);
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 25px;
  font-style: normal;
}
.form-card-container {
display: flex;
flex-wrap: wrap;
background-color: burlywood;
}

